.container {
  height: 3.75rem;
  margin: 2rem 3.5rem;
  padding: 0 0 2rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(215, 221, 233);

  .wellcome {
    font-size: 1.5rem;
    padding-left: 4.5rem;
  }

  .date {
    color: rgb(117, 117, 117);
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: start;
    height: auto;
    gap: 8px;
    
    .wellcome {
      padding-left: 0;
    }
  }
}
